.box{
    width: 200px;
    height: 200px;
    background-color: rgb(187, 17, 173);
    border-radius: 50%;
    box-shadow: -50px -50px 100px 5px  rgb(77, 28, 28);
    margin: 100px 200px 300px 400px;
    padding: 80px 30px;
    border: 5px solid rgb(255, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Timmana';
    /* font-family: 'Playwrite US Modern Guides'; */
}
.head1{
    font-weight: 400;
    text-decoration: underline;
    /* text-align: ; */
    text-shadow: 5px 5px 10px purple;
}